# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Github access token
ACCESS_TOKEN=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# The MySQL credentials for the test database
DB_NAME=tests-db
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1:10005

# Slack bot token & Slack channel ID
SLACK_TOKEN=
SLACK_CHANNEL=